<?xml version="1.0"?>
<svg class="svg" width="541" height="703" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- </g> -->
 <g>
  <title>Timeline</title>
  <g id="timeline" stroke="null">
   <g id="coffee" stroke="null">
    <rect id="svg_28" height="42.791165" width="6.947536" fill="#5B4F35" y="94.959615" x="201.326402" stroke="null"/>
    <polyline id="svg_29" points="202.8748779296875,113.00869750976562 197.84365844726562,116.73748779296875 205.0130615234375,121.12020874023438 " fill="#5B4F35" stroke="null"/>
    <g id="svg_30" stroke="null">
     <text x="-352.688957" y="-739.367706" id="svg_31" font-size="28.2251" font-family="Monospace" fill="#5B4F35" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,363.4817897226725,405.81898220501205) " stroke="null"><%= @user.year1 %></text>
    </g>
    <g id="coffee-badge" stroke="null">
     <circle id="svg_32" r="68.985748" cy="107.866148" cx="122.466147" fill="#5B4F35" stroke="null"/>
     <g stroke="null" id="coffee-title">
      <text stroke="null" x="-993.212403" y="-1126.524824" id="svg_33" font-size="28.2251" font-family="Monospace" fill="#FFFFFF" transform="matrix(0.3368038828377526,0,0,0.4544683375725037,409.39481875369364,588.799555981232) "><%= @user.headline1 %></text>
     </g>
     <g id="coffee-details" stroke="null">
      <g id="coffee-icon" stroke="null">
       <path id="svg_34" d="m120.500824,99.251892c0,0 -13.716888,-1.994781 -13.716888,-6.883789c0,-4.88736 10.340363,-7.434448 14.982971,-7.226074c4.642609,0.206757 17.867432,2.133942 14.772095,7.777161c-3.09491,5.644073 -16.038177,6.332703 -16.038177,6.332703z" fill="#E5E2DF" stroke="null"/>
       <ellipse id="svg_35" ry="5.948772" rx="12.669036" cy="118.116408" cx="121.291199" fill="#3F3524" stroke="null"/>
       <path id="svg_36" d="m120.636902,98.561249c0,0 -12.375992,-1.72406 -12.375992,-5.942383c0,-4.219513 9.329697,-6.418274 13.518265,-6.239899c4.188507,0.178345 16.118683,1.841217 13.326202,6.715027c-2.790466,4.873413 -14.468475,5.467255 -14.468475,5.467255z" fill="#B2AFAB" stroke="null"/>
       <path id="svg_37" d="m120.719879,98.973175c0,0 -11.561523,-1.60968 -11.561523,-5.55127c0,-3.941589 8.715897,-5.995972 12.628998,-5.829193c3.913055,0.166748 15.059784,1.721252 12.450775,6.273499s-13.51825,5.106964 -13.51825,5.106964z" fill="#4C3C29" stroke="null"/>
       <path id="svg_38" d="m120.079041,88.638489c0,0 -10.411057,0.55188 -9.35585,5.231323c1.055206,4.680634 16.39006,2.686249 20.258987,2.065186c3.868958,-0.619904 -3.153748,-2.656677 -9.478882,-3.703644c-5.639771,-0.933411 -1.424255,-3.592865 -1.424255,-3.592865z" fill="#5B4F35" stroke="null"/>
       <path id="svg_39" d="m106.783936,92.368134l2.532181,26.019806c0,0 12.45079,8.466644 24.26857,0l3.165619,-26.019806c0,0 -13.716888,13.009735 -29.96637,0z" fill="#D3CFC9" stroke="null"/>
       <path id="svg_40" d="m120.817535,98.872803c0,0 8.65213,0.268311 15.721893,-4.771851l-2.954376,24.286591c0,0 -5.168152,3.700439 -11.289337,3.758453c0,0 7.912872,-0.283966 8.545898,-3.484924s3.737366,-24.155792 1.967804,-22.715698c-1.264496,1.034973 -11.991882,2.927429 -11.991882,2.927429z" fill="#C1BCB4" stroke="null"/>
       <circle id="svg_41" r="5.627233" cy="107.700959" cx="121.503303" fill="#E5E2DF" stroke="null"/>
      </g>
      <rect id="svg_42" height="27.194385" width="76.422893" fill="none" y="146.920861" x="84.266555" stroke="null"/>
      <text x="-1050.574765" y="-537.24574" id="svg_43" font-size="18" font-family="Monospace" fill="#CEB995" transform="matrix(0.2731094972874728,0,0,0.5742631699878995,354.01336837156987,450.08267382520285) " stroke="null"><%= @user.detail1 %></text>
     </g>
    </g>
   </g>
   <g id="design" stroke="null">
    <rect id="svg_45" height="53.988853" width="6.947536" fill="#D1652F" y="137.75078" x="201.326402" stroke="null"/>
    <polyline id="svg_46" points="207.33847045898438,169.11032104492188 212.3692626953125,165.38186645507812 205.19985961914062,160.998779296875 " fill="#D1652F" stroke="null"/>
    <text x="-327.688957" y="-682.549524" id="svg_47" font-size="28.2251" font-family="Monospace" fill="#D1652F" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,301.2541018539988,454.77643377975437) " stroke="null"><%= @user.year2 %></text>
    <g id="design-badge" stroke="null">
     <circle id="svg_48" r="61.732697" cy="163.327318" cx="290.399941" fill="#D1652F" stroke="null"/>
     <g stroke="null" id="design-title">
      <text stroke="null" x="-649.186068" y="-874.461534" id="svg_49" font-size="28.2251" font-family="Monospace" fill="#FFFFFF" transform="matrix(0.3492702170275418,0,0,0.4107096259959753,469.7212797261492,493.8553712392824) "><%= @user.headline2 %></text>
     </g>
     <g id="design-details" stroke="null">
      <rect id="svg_50" height="28.378396" width="81.746672" fill="none" y="182.028285" x="247.682243" stroke="null"/>
      <text x="-637.295824" y="-463.593422" id="svg_51" font-size="18" font-family="Monospace" fill="#E8AD67" transform="matrix(0.2866866348981885,0,0,0.4667939753424489,414.2902701713723,397.10132656503964) " stroke="null"><%= @user.detail2 %></text>
      <g id="svg_53" stroke="null">
       <ellipse id="svg_54" ry="1.29706" rx="12.385714" cy="171.994435" cx="285.363961" fill="#B24E2B" stroke="null"/>
       <path id="svg_55" d="m305.114777,148.929047c-0.450714,-0.562592 -0.903168,-1.125092 -1.356934,-1.687683c-0.05246,-0.037537 -0.055084,-0.030426 -0.009186,0.020477c-3.056549,-2.895416 -7.394775,-7.173065 -11.611938,-8.598663c-2.980469,0.020477 -15.298431,12.470215 -14.92514,12.931763c1.37088,1.699402 3.476654,3.208435 5.087128,4.698334c2.983948,2.759338 6.311493,7.545319 10.008026,9.364044c0.844147,0.414398 5.700897,-4.729614 6.29715,-5.299286c3.157928,-3.012268 10.133514,-7.111267 6.510895,-11.428986c-0.460327,-0.557098 0.45813,0.546722 0,0z" fill="#E8AD67" stroke="null"/>
       <path id="svg_56" d="m305.069305,146.499786c-0.027557,-0.039185 -0.071289,-0.10434 -0.141632,-0.205322c0.056793,0.080963 0.109253,0.157745 0.141632,0.205322z" fill="#E8AD67" stroke="null"/>
       <path id="svg_57" d="m273.231781,169.430389c0.090942,0.121429 0.177917,0.244965 0.264038,0.369324c0.107544,0.059631 0.214203,0.119751 0.320892,0.1828c0.047638,0.002075 0.093964,0.008362 0.141632,0.008728l18.627319,-3.88739l-15.314606,-14.620728l-4.034454,17.609619c-0.001343,0.112274 -0.005676,0.224915 -0.004822,0.337646z" fill="#FFCBA6" stroke="null"/>
       <path id="svg_58" d="m303.757416,147.241364c-2.386871,-2.222656 -4.095703,-4.119873 -6.937592,-6.024139c-4.793304,4.929932 -10.237091,9.641113 -15.219696,14.397491c0.943817,0.898895 5.670197,6.497375 6.91394,6.053375c1.640167,-0.586792 2.805145,-2.645508 4.066742,-3.784424c1.19516,-1.080048 11.699432,-9.97876 11.176605,-10.642303c-0.01358,-0.007904 0.030609,0.037994 0,0z" fill="#FF9740" stroke="null"/>
       <path id="svg_59" d="m305.114777,148.929047c-0.505371,-0.610535 -0.957825,-1.354218 -1.395813,-1.711456c0.188385,0.249115 -9.344086,8.916656 -10.307983,9.835175c-0.828827,0.79129 -5.511993,4.567291 -4.775848,5.277588c1.240204,1.191071 2.463776,2.639191 3.743317,3.791016c0.490051,0.440704 4.134979,-3.579041 4.792847,-4.207489c2.292908,-2.188538 4.174805,-3.776459 6.467224,-5.964935c2.913086,-2.78067 4.048828,-3.951691 1.476257,-7.019897c-0.460327,-0.557098 0.652222,0.785828 0,0z" fill="#FA871C" stroke="null"/>
       <path id="svg_60" d="m281.600128,155.614685c0,0 0.00177,-3.97757 -4.326019,-4.131989l0.13681,1.905518l4.189209,2.226471z" fill="#FFCBA6" stroke="null"/>
       <path id="svg_61" d="m292.429993,165.953613c0,0 0.001343,-3.9776 -4.328156,-4.13031l0.13681,1.904297l4.191345,2.226013z" fill="#FFCBA6" stroke="null"/>
       <path id="svg_62" d="m288.259186,161.971863c0,0 0.002197,-6.202393 -6.749573,-6.442719l0.213745,2.970947l6.535828,3.471771z" fill="#FFCBA6" stroke="null"/>
       <path id="svg_63" d="m273.242279,168.894928c-0.007019,0.180298 -0.009155,0.356842 -0.009155,0.535461c0.090942,0.121399 0.177917,0.244965 0.264038,0.369293c0.106659,0.059662 0.213318,0.119781 0.319977,0.182831c0.095306,0.003754 0.186249,0.015411 0.28241,0.021271l3.309174,-0.691132l-0.019623,-0.018768c0,-0.010864 -0.002686,-3.192566 -3.470978,-3.320679l0,0.007111l-0.007019,-0.007111l-0.668823,2.921722z" fill="#3A2F19" stroke="null"/>
      </g>
     </g>
    </g>
   </g>
   <g id="complain" stroke="null">
    <rect id="svg_64" height="113.176632" width="6.947536" fill="#6DBACC" y="267.324027" x="201.326402" stroke="null"/>
    <polyline id="svg_65" points="207.33847045898438,327.4775695800781 212.3692626953125,323.7491760253906 205.19985961914062,319.3664855957031 " fill="#6DBACC" stroke="null"/>
    <text x="-336.779866" y="-712.094978" id="svg_66" font-size="28.2251" font-family="Monospace" fill="#6DBACC" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,298.8020304260989,611.1441479621581) " stroke="null"><%= @user.year4 %></text>
    <g id="complain-badge" stroke="null">
     <circle id="svg_67" r="64.913887" cy="322.603525" cx="288.207937" fill="#6DBACC" stroke="null"/>
     <g id="complain-title" stroke="null">
      <text x="-424.542797" y="-702.182873" id="svg_68" font-size="24.3935" font-family="Monospace" fill="#FFFFFF" transform="matrix(0.4273075167601254,0,0,0.4309237037428562,418.20968526007334,597.0710855667243) " stroke="null"><%= @user.headline4 %></text>
      <text x="-336.779866" y="-712.094978" id="svg_69" font-size="24.3935" font-family="&#x27;LeagueGothic'" fill="#FFFFFF" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,412.11695091292563,584.2040303874105) " stroke="null"/>
     </g>
     <g id="complain-details" stroke="null">
      <rect id="svg_70" height="27.194385" width="76.422893" fill="none" y="343.668264" x="249.283606" stroke="null"/>
      <text x="-866.642389" y="-1066.964585" id="svg_71" font-size="18" font-family="Monospace" fill="#B9E4EA" transform="matrix(0.28081383526719045,0,0,0.6044629309931036,474.31769728835565,994.274483434254) " stroke="null"><%= @user.detail4 %></text>
      <g id="svg_73" stroke="null">
       <path id="svg_74" d="m298.56781,325.52005c-1.700897,-0.003235 -5.278107,-0.158386 -6.565826,-0.210358c-1.300446,-0.052795 -1.895874,2.18988 -4.707184,2.190704c-7.305145,0.002411 -6.890717,-4.79657 -4.885742,-4.79657c1.599579,0 11.691071,0 16.560059,-0.07962c1.841888,-0.708221 1.320038,-5.997559 -2.071167,-9.953949c-3.604584,-4.201508 -7.452698,-4.320709 -7.452698,-4.320709c2.997284,-2.021576 7.372162,-2.377899 8.587189,-1.824005c1.21701,0.555878 1.490021,0.119568 1.490021,0.119568c-3.371582,-4.280701 -12.588959,1.226929 -12.588959,1.226929c-12.353912,1.030609 -13.488403,11.772827 -13.488403,11.772827c1.095245,-1.308136 3.199982,-2.417938 3.848145,-3.012604s0.648132,0 0.648132,0c-13.488831,17.47998 0.447113,17.837891 -1.132446,16.964905c-1.579529,-0.872253 -1.094421,-5.430115 -1.094421,-5.430115c0.446259,0.515137 4.010376,6.105591 11.745819,5.826416c7.738312,-0.277161 10.957886,-6.567444 11.364105,-7.638c0.135254,-0.363953 0.011871,-0.635101 -0.256622,-0.835419zm-15.451721,-10.716248c2.607727,-1.453705 7.388489,-1.189331 8.837219,1.124603s-0.144684,2.641052 -0.796478,2.907379c-0.652252,0.264313 -8.040741,0 -8.040741,0c-2.318054,-0.002014 -2.607391,-2.578674 0,-4.031982z" fill="#004F84" stroke="null"/>
       <!--      <path opacity="0.56" fill="#0097C0" enable-background="new    " d="M736.968,978.469c-1.242,0.969-5.843-2.894-12.034-5.953
            c-6.126-3.184-11.961-4.606-11.914-6.185c-0.05-1.521,7.019-2.601,14.447,1.188 -->
       <!-- C734.916,971.273,738.221,977.61,736.968,978.469z"/> -->
       <path id="svg_75" d="m280.245514,327.245667c2.341309,1.670471 7.014557,3.127319 4.3508,3.474915c-2.663788,0.3479 -7.014587,-2.432312 -6.480011,-3.996429c0.531281,-1.564056 1.275879,-0.087158 2.129211,0.521515z" fill="#0097C0" opacity="0.56" stroke="null"/>
       <ellipse id="svg_76" ry="0.809433" rx="8.037481" cy="336.252595" cx="286.381403" fill="#448FAA" stroke="null"/>
      </g>
     </g>
    </g>
   </g>
   <g id="build" stroke="null">
    <rect id="svg_77" height="75.584394" width="6.947536" fill="#B1C482" y="191.739633" x="201.326402" stroke="null"/>
    <polyline id="svg_78" points="202.8748779296875,227.78536987304688 197.84365844726562,231.513427734375 205.0130615234375,235.89654541015625 " fill="#B1C482" stroke="null"/>
    <text x="-345.870775" y="-698.458614" id="svg_79" font-size="28.2251" font-family="Monospace" fill="#25632B" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,360.68250498058194,520.3941254533908) " stroke="null"><%= @user.year3 %></text>
    <g id="build-badge" stroke="null">
     <circle id="svg_80" r="63.096046" cy="256.41719" cx="132.036992" fill="#B1C482" stroke="null"/>
     <g stroke="null" id="build-title">
      <text stroke="null" x="-386.779868" y="-657.549523" id="svg_81" font-size="28.2251" font-family="Monospace" fill="#25632B" transform="matrix(0.3367241190094687,0,0,0.488925006653517,216.85632438299135,544.1486826117057) "><%= @user.headline3 %></text>
     </g>
     <g id="build-details" stroke="null">
      <rect id="svg_82" height="27.194385" width="76.422893" fill="none" y="250.687462" x="82.951837" stroke="null"/>
      <text x="-864.375778" y="-907.627818" id="svg_83" font-size="18" font-family="Monospace" fill="#25632B" transform="matrix(0.2838280476402661,0,0,0.6061397446526298,319.9656300186178,827.4304795338926) " stroke="null"><%= @user.detail3 %></text>
      <g id="svg_85" stroke="null">
       <g id="svg_86" stroke="null">
        <path id="svg_87" d="m124.714081,253.176483c-3.02832,-1.745239 -6.056641,-3.490906 -9.084503,-5.237305c-1.731995,-0.996185 -3.463989,-1.994415 -5.195541,-2.992615c-1.328629,-0.765381 -0.971863,-1.185333 -0.971863,-2.796173s-0.356354,-2.029968 0.971863,-2.797455c1.731949,-1.00061 3.463928,-2.001221 5.195541,-3.001801c3.02829,-1.749603 6.05658,-3.499268 9.084503,-5.248901c0,2.10675 0.955078,5.262543 -1.056458,6.384308c-2.788422,1.555237 -5.576813,3.109741 -8.365219,4.664642c2.649841,1.466888 5.299698,2.934174 7.949631,4.401031c0.991425,0.548737 1.472046,0.505554 1.472046,1.600494c0,1.674469 0,3.349304 0,5.023773l0,0z" fill="#C5EAEA" stroke="null"/>
        <path id="svg_88" d="m138.363098,228.178833c-1.510071,5.649994 -3.022583,11.300873 -4.534698,16.9505c-0.835724,3.124573 -1.671906,6.249115 -2.507629,9.37326c-0.579102,2.163971 -3.099457,1.181763 -5.167755,1.181763c1.521515,-5.649628 3.043427,-11.299286 4.564941,-16.948914c0.841431,-3.124542 1.682922,-6.249115 2.524384,-9.37326c0.58078,-2.156311 3.056122,-1.18335 5.120758,-1.18335l0,0z" fill="#C5EAEA" stroke="null"/>
        <path id="svg_89" d="m139.666809,231.102234c3.02829,1.741241 6.05661,3.481689 9.084473,5.222931c1.731995,0.995392 3.46521,1.99118 5.197205,2.988586c1.259949,0.72467 0.971832,0.968567 0.971832,2.500275c0,1.269745 0.445831,2.293121 -0.689453,2.949371c-1.635529,0.94342 -3.271454,1.890411 -4.90741,2.835419c-3.219147,1.858032 -6.438324,3.720032 -9.657471,5.579651c0,-2.107147 -0.954712,-5.262878 1.055603,-6.383881c2.785553,-1.55484 5.57193,-3.107758 8.358307,-4.659851c-2.647858,-1.468475 -5.295288,-2.936981 -7.943909,-4.405457c-0.990601,-0.5495 -1.470825,-0.507904 -1.470825,-1.602509c0.001648,-1.675232 0.001648,-3.349701 0.001648,-5.024536l0,0z" fill="#C5EAEA" stroke="null"/>
       </g>
       <g id="svg_90" stroke="null">
        <path id="svg_91" d="m114.114182,240.513092c1.425446,-0.980988 2.947815,-1.758057 4.51712,-2.628662c1.460617,-0.809845 2.68541,-1.794434 4.157089,-2.391113c0.115234,-0.405518 0.252563,-0.792236 0.420105,-1.158936c0.000824,-0.410736 -0.042511,-0.858643 -0.145905,-1.358154c-3.806,2.607849 -9.643585,5.11734 -11.863541,8.80658c0.468369,-0.168762 0.927704,-0.358337 1.372772,-0.583466c0.504715,-0.258331 1.020844,-0.479492 1.542358,-0.686249z" fill="#D8EFEE" stroke="null"/>
        <path id="svg_92" d="m128.013336,254.875702c0.638336,-0.388702 1.141846,-0.813416 1.528442,-1.709625c0.410278,-0.952606 0.764648,-1.946014 1.093231,-2.936584c0.78302,-2.359894 1.223175,-4.82901 1.973511,-7.198517c0.776489,-2.452301 1.317169,-4.81781 1.781006,-7.362061c0.36618,-2.005981 0.975098,-3.924438 1.518616,-5.869232l-1.28363,0c-0.173279,0.0896 -0.332214,0.200348 -0.468323,0.338715l-5.10849,18.96933c0.36087,0.662231 0.106659,1.634827 -0.524353,1.94516l-1.001251,3.718445c0.121368,0.014801 0.243988,0.034393 0.367401,0.066406c0.042114,0.010803 0.082123,0.026001 0.12384,0.037964z" fill="#D8EFEE" stroke="null"/>
        <path id="svg_93" d="m142.426208,236.48233c1.488403,0.5271 2.944122,0.9646 4.175049,1.974762c1.266907,1.041382 3.101074,1.324951 4.476654,2.234344c0.367401,0.242767 0.682068,0.542694 0.98819,0.84903c3.63562,-1.476074 -9.346466,-7.429291 -11.761749,-8.818176c-0.082153,0.675079 -0.056824,1.254547 0.054352,1.766022c0.591339,0.790253 1.114899,1.656464 2.067505,1.994019z" fill="#D8EFEE" stroke="null"/>
       </g>
       <ellipse id="svg_94" ry="1.242944" rx="11.57909" cy="258.341409" cx="131.306462" fill="#96A362" stroke="null"/>
       <path id="svg_95" d="m148.687561,245.63327c-1.425476,0.980957 -2.947815,1.757996 -4.518768,2.628632c-1.458984,0.808228 -2.683807,1.792847 -4.157074,2.391083c-0.113586,0.407135 -0.252594,0.793823 -0.418518,1.160583c-0.000824,0.409119 0.042542,0.858215 0.144684,1.356934c3.80603,-2.60788 9.645233,-5.11734 11.863556,-8.805817c-0.468384,0.168823 -0.928131,0.356781 -1.372772,0.583496c-0.503479,0.257538 -1.019653,0.478271 -1.541107,0.685089z" fill="#B0E2DE" stroke="null"/>
       <path id="svg_96" d="m116.585876,248.112762c0.322815,0.223114 0.631393,0.456268 0.935883,0.691467c0.658356,0.374695 1.300385,0.778198 1.931793,1.207336c1.572174,1.064545 3.467255,1.803986 5.172638,2.684631c0.060913,-0.607849 0.034363,-1.139801 -0.06662,-1.608459c-0.59256,-0.788666 -1.116486,-1.654877 -2.069122,-1.99118c-1.488403,-0.528748 -2.944107,-0.964661 -4.175079,-1.975616c-1.265259,-1.039795 -3.101028,-1.32489 -4.476654,-2.234344c-0.367386,-0.241547 -0.682083,-0.541504 -0.98819,-0.84903c-0.536194,0.217926 -0.708221,0.533905 -0.608932,0.917847c1.398926,1.121735 2.85791,2.130737 4.344284,3.157349z" fill="#B0E2DE" stroke="null"/>
      </g>
     </g>
    </g>
   </g>
   <g id="beer" stroke="null">
    <rect id="svg_97" height="43.990917" width="6.947536" fill="#EAB83D" y="380.500659" x="201.326402" stroke="null"/>
    <polyline id="svg_98" points="202.8748779296875,399.35003662109375 197.84365844726562,403.07794189453125 205.0130615234375,407.46112060546875 " fill="#EAB83D" stroke="null"/>
    <text x="-336.779866" y="-712.094978" id="svg_99" font-size="28.2251" font-family="Monospace" fill="#EAB83D" transform="matrix(0.4086785713166579,0,0,0.3999174275764799,360.68250498058194,690.4801271704652) " stroke="null"><%= @user.year5 %></text>
    <g id="beer-badge" stroke="null">
     <circle id="svg_100" r="71.730598" cy="400.405634" cx="118.205591" fill="#EAB83D" stroke="null"/>
     <g stroke="null" id="beer-title">
      <text stroke="null" x="-459.815514" y="-730.664899" id="svg_101" font-size="28.2251" font-family="Monospace" fill="#FFFFFF" transform="matrix(0.3905318713873578,0,0,0.5317966903440972,241.9123322100693,756.5222835857849) "><%= @user.headline5 %></text>
     </g>
     <g id="beer-details" stroke="null">
      <rect id="svg_102" height="28.852001" width="83.381801" fill="none" y="422.152996" x="73.940508" stroke="null"/>
      <text x="-530.309408" y="-669.779518" id="svg_103" font-size="18" font-family="Monospace" fill="#EBF4CE" transform="matrix(0.3152094677754202,0,0,0.5038729615301976,222.7341780603298,765.5357416894997) " stroke="null"><%= @user.detail5 %></text>
      <g id="svg_105" stroke="null">
       <path id="svg_106" d="m130.096161,410.090271c-0.013397,2.226318 -6.302704,3.874207 -14.39119,4.00116c-8.091141,0.33728 -14.349228,-1.29541 -14.483017,-3.500854c-0.094498,-0.856262 6.355774,-1.810913 14.373779,-2.169006c8.014465,-0.113281 14.528503,0.792175 14.500427,1.668701z" fill="#D3A337" stroke="null"/>
       <path id="svg_107" d="m129.387634,403.935913c-2.393585,0.392944 -4.763916,0.656799 -7.003204,0.711121c-6.875641,0.206604 -13.659012,-1.40271 -20.487823,-1.882202c0.066422,3.065979 0.160507,6.23761 -0.008942,6.829956c-0.313461,1.059814 7.31218,2.625061 10.181046,2.594971c2.851913,0.634277 14.422806,-0.743408 15.67131,-1.935303c1.323883,-0.837952 1.610138,-1.676331 1.509369,-2.521545c-0.076691,-0.64325 0.061554,-2.779114 0.138245,-3.796997z" fill="#F6EEDB" stroke="null"/>
       <path id="svg_108" d="m107.349411,408.41394c2.963837,0.61908 5.966888,1.010681 8.980286,0.930054c3.309402,-0.081421 6.558151,-0.608032 9.76503,-1.633972c1.026855,-0.324158 2.097015,-0.582092 3.161835,-0.866821c-0.031219,-0.836304 0.085602,-2.650574 0.154694,-3.565308c-2.39267,0.435669 -4.764801,0.757813 -7.008514,0.835388c-6.895721,0.2995 -13.693787,-1.536804 -20.52887,-2.009888c0.03656,1.676392 0.080688,3.381226 0.085602,4.684204c1.775101,0.611877 3.562225,1.242371 5.389938,1.626343z" fill="#E2D6BC" stroke="null"/>
       <path id="svg_109" d="m104.394043,403.984314c-0.005356,-0.36322 0.052628,-0.696716 0.158295,-0.99884c-0.883759,-0.074646 -1.76976,-0.156555 -2.655273,-0.220642c0.066422,3.066406 0.16095,6.236267 -0.009369,6.829956c-0.133347,0.351685 1.104919,1.075928 2.765396,0.764099c-0.115936,-2.072327 -0.223373,-4.205566 -0.259048,-6.374573z" fill="#E2D6BC" stroke="null"/>
       <path id="svg_110" d="m129.249847,407.731262c-0.077606,-0.645386 0.060669,-2.78125 0.137787,-3.795349c-2.10907,0.264771 -4.199005,0.427673 -6.189423,0.414124c0.024963,0.113342 0.043701,0.230835 0.042786,0.3573c-0.005341,1.887695 -0.060181,3.748169 -0.103912,5.574341c2.21167,0.512512 4.107147,0.138794 4.582886,-0.106506c1.351501,-0.724243 1.62796,-1.609802 1.529877,-2.443909z" fill="#E2D6BC" stroke="null"/>
       <path id="svg_111" d="m137.142151,391.115051c-0.271576,-1.717102 -4.175354,-3.474548 -10.619843,-3.911133c0.090515,0.855347 0.164551,1.710754 0.218079,2.568237c2.488464,0.196411 6.494385,0.996216 6.494385,2.30603c0,1.604309 0.608215,6.063599 0,7.239685c-0.468628,0.910156 -4.919525,1.023499 -5.934357,1.03064c0.136871,1.369629 0.28891,2.739258 0.447662,4.108887c0.025421,-0.331787 0.043243,-0.546021 0.043243,-0.546021s1.146851,-0.109924 4.488831,-0.860107c3.343719,-0.749329 4.559235,-3.958618 4.86377,-6.421692c0.301422,-2.461792 0.301422,-3.586975 -0.00177,-5.514526z" fill="#E2D6BC" stroke="null"/>
       <g id="svg_112" stroke="null">
        <path id="svg_113" d="m127.345001,400.755066c1.564606,-0.06073 4.096375,-0.257629 4.749176,-0.855408c-1.520477,0.380127 -4.05896,0.442932 -4.794647,0.446289c0.014252,0.137146 0.031647,0.273254 0.045471,0.409119z" fill="#F6EEDB" stroke="null"/>
        <path id="svg_114" d="m137.142151,391.115051c-0.271576,-1.717102 -4.175354,-3.474548 -10.619843,-3.911133c0.018738,0.173157 0.027222,0.3479 0.044617,0.522278c5.807739,0.548645 9.302185,2.202515 9.55722,3.823364c0.30365,1.92749 0.30365,3.052795 0,5.513733c-0.252808,2.053955 -1.147278,4.623047 -3.373169,5.855225c2.985291,-0.933899 4.103149,-3.949402 4.392944,-6.291077c0.301422,-2.459656 0.301422,-3.584839 -0.00177,-5.51239z" fill="#F6EEDB" stroke="null"/>
        <path id="svg_115" d="m127.719543,404.20282c0.008911,0.082703 0.017822,0.167969 0.027222,0.252869c0.009338,-0.100159 0.013824,-0.184204 0.021393,-0.260071c-0.018311,0.002502 -0.032135,0.004639 -0.048615,0.007202z" fill="#F6EEDB" stroke="null"/>
       </g>
       <path id="svg_116" d="m131.959076,401.360474c-0.977844,0.388245 -2.501007,0.621582 -4.560608,0.694946c0.050873,0.507507 0.106598,1.016235 0.164978,1.524963c0.685791,-0.121826 1.721191,-0.325867 3.200195,-0.656372c0.455231,-0.101868 0.853424,-0.269836 1.212372,-0.47821c-0.011139,-0.362305 -0.015594,-0.724243 -0.016937,-1.085327z" fill="#F6EEDB" stroke="null"/>
       <path id="svg_117" d="m134.767303,391.708252c-0.144897,-0.916992 -2.827423,-2.407104 -8.138458,-2.964539c0.019226,0.221863 0.037476,0.442505 0.054871,0.661377c2.195587,0.26178 6.550201,1.046814 6.550201,3.147034c0,0.439148 0.049469,1.124817 0.106964,1.919556c0.043701,0.601563 0.081146,1.161621 0.110596,1.688171c0.207336,1.418396 0.213593,2.831787 0.221161,4.244263c0.720581,-1.210571 0.992096,-2.598389 1.089783,-3.392639c0.296478,-2.401489 0.297394,-3.442322 0.004883,-5.303223z" fill="#F6EEDB" stroke="null"/>
       <path id="svg_118" d="m117.325348,404.392029c-0.0009,-0.074219 0.013397,-0.139954 0.024078,-0.208252c-1.572189,-0.075562 -3.146194,-0.233398 -4.716187,-0.387878c0.003098,0.059814 0.010239,0.117065 0.010239,0.17865c-0.012054,2.195251 0.051712,4.370667 0.125748,6.549377c1.033112,0.2724 2.756485,0.437927 4.536484,-0.072998c0.052628,-2.011108 0.054871,-4.018494 0.019638,-6.058899z" fill="#E2D6BC" stroke="null"/>
       <path id="svg_119" d="m129.029144,382.985535l-1.286865,0c0.038361,0.689941 0.063324,1.377686 0.06778,2.064636c0.012054,2.715881 -0.471741,5.41571 -0.343811,8.052673c0.227875,4.692261 0.230988,8.842712 0.243042,13.330444c0.304535,-0.005432 0.6091,-0.010132 0.914093,-0.012268c0.207764,-0.023743 0.417358,-0.044128 0.627777,-0.06189c0.032562,-0.070068 0.057098,-0.144287 0.079834,-0.216858c-0.06601,-7.847351 -0.070435,-20.15271 -0.301849,-23.156738z" fill="#D88430" stroke="null"/>
       <g id="svg_120" stroke="null">
        <path id="svg_121" d="m101.629501,382.985535c0.0009,-0.011841 0.350037,9.298889 0.183258,12.543884c-0.134186,2.633118 0.103012,7.266846 0.040588,9.768555c0.759354,2.097229 7.094147,3.106201 7.366135,3.016235c4.528503,0.631714 9.111343,0.10614 13.623779,-0.510437c1.929382,-0.265137 3.839111,-0.701294 5.71991,-1.185852c0.227417,-0.0802 0.456573,-0.1604 0.682648,-0.238464c0.035248,-0.080566 0.061066,-0.1604 0.084717,-0.238892c-0.102112,-7.820984 -0.156921,-20.134033 -0.42804,-23.155823c-9.090851,0.000427 -18.182159,0.000793 -27.272995,0.000793l0,0z" fill="#EA9E42" stroke="null"/>
        <path id="svg_122" d="m122.228394,407.261902c5.843842,-1.164673 4.685394,-6.481384 4.750977,-8.014465c0.176544,-5.305847 0.228271,-10.714661 0.347809,-16.261902c0.571136,0 1.142792,0 1.713562,0c-0.000916,-0.011047 -0.332642,9.326843 -0.160553,12.580322c0.139557,2.640808 -0.118134,8.15918 -0.050842,10.655701c-0.89624,0.275452 -1.813416,0.568604 -2.77832,0.88092c0.067291,-0.659363 -3.839569,0.896484 -3.822632,0.159424z" fill="#D88430" stroke="null"/>
       </g>
       <path id="svg_123" d="m110.562531,385.260193c-1.58963,-0.021606 -3.181915,-0.080139 -4.7742,-0.161682c-0.361618,6.029236 0.210907,15.838074 0.558716,20.711121c1.574005,0.533691 5.172333,1.300415 4.710846,-0.000427c-0.342026,-0.958923 -0.261292,-18.661316 -0.495361,-20.549011z" fill="#EAB96C" stroke="null"/>
       <path id="svg_124" d="m120.092102,383.309265c-1.026886,0.140015 -2.057327,0.25885 -3.087814,0.342407c-0.457001,6.927002 0.336227,17.592102 0.387512,22.473999c1.025955,0.199402 2.102356,0.202881 3.110092,-0.014832c0.2724,-2.787109 -0.187744,-21.200256 -0.40979,-22.801575z" fill="#EAB96C" stroke="null"/>
       <path id="svg_125" d="m119.103119,384.184143c3.062866,-0.24353 9.278564,-0.393677 9.429291,0.900391c0.195282,1.56012 2.078735,2.329773 2.167023,1.008118c0.046387,-1.517273 1.779572,-4.679504 -5.25174,-7.070435c-7.190414,-1.778687 -5.962891,-1.129517 -9.867126,-1.366211c-3.905136,0.086914 -2.065842,-3.796143 -9.690567,-0.650879c-7.465134,3.861938 -7.678253,7.958008 -4.251129,8.409485c3.525665,0.134094 5.820221,1.420959 8.813507,1.402283c3.003052,-0.064026 6.042282,-2.462952 8.650742,-2.632751z" fill="#F6EEDB" stroke="null"/>
       <path id="svg_126" d="m129.016602,385.067627c-0.18634,-0.464661 -0.341492,-1.721436 -0.912689,-2.25769c-1.599426,-1.546997 -4.200775,-2.296753 -6.443146,-2.469482c-3.301392,-0.418762 -6.483292,0.22113 -9.751648,1.251282c-2.868881,0.941956 -5.744003,1.494385 -8.481339,0.610107c-1.228867,-0.372437 -2.142487,-1.072205 -2.684708,-1.895203c-2.01857,2.837585 -1.445602,4.499207 0.896667,4.817383c3.530151,-0.02887 5.830963,1.434937 8.829559,1.405212c3.008911,-0.100098 6.049866,-2.934387 8.649399,-2.992126c3.062881,-0.198975 9.213028,0.32373 9.353928,1.440857c0.077606,0.541443 0.446808,1.039185 0.853455,1.230896c-0.086487,-0.364014 -0.152039,-0.748779 -0.309479,-1.141235z" fill="#E2D6BC" stroke="null"/>
      </g>
     </g>
    </g>
   </g>
  </g>
 </g>
</svg>