<?xml version="1.0"?>
<svg width="800" height="1100" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- </g> -->
 <g>
  <title>Layer 1</title>
  <g stroke="null" id="timeline">
   <g stroke="null" id="coffee">
    <rect stroke="null" x="405.098139" y="146.141975" fill="#5B4F35" width="17.550765" height="107.790133" id="svg_28"/>
    <polyline stroke="null" fill="#5B4F35" points="409.009895307383,191.60723391818465 396.3000407190775,201.00010106890113 414.41135899468645,212.04004607567913 " id="svg_29"/>
    <g stroke="null" id="svg_30">
     <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,605.438061755339,508.5778796668482) " fill="#5B4F35" font-family="Monospace" font-size="28.2251" id="svg_31" y="-321.83797" x="-149.962201"><%= @user.year1 %></text>
    </g>
    <g stroke="null" id="coffee-badge">
     <circle stroke="null" fill="#5B4F35" cx="205.8825" cy="178.653287" r="173.773815" id="svg_32"/>
     <g stroke="null" id="coffee-title">
      <text stroke="null" transform="matrix(1.205072652312168,0,0,1.3657646394149572,337.8008805908848,505.21667477517155) " fill="#FFFFFF" font-family="Monospace" font-size="28.2251" id="svg_33" y="-324.242206" x="-168.497108"><%= @user.headline1 %></text>
     </g>
     <g stroke="null" id="coffee-details">
      <g stroke="null" id="coffee-icon">
       <path stroke="null" fill="#E5E2DF" d="m200.917679,127.985886c0,0 -34.651367,-5.024841 -34.651367,-17.340126c0,-12.311234 26.121735,-18.727287 37.849747,-18.202438c11.728058,0.520821 45.136429,5.375397 37.317047,19.59063c-7.818344,14.217232 -40.515427,15.951935 -40.515427,15.951935z" id="svg_34"/>
       <ellipse stroke="null" fill="#3F3524" cx="202.914366" cy="175.505217" rx="32.004335" ry="14.984843" id="svg_35"/>
       <path stroke="null" fill="#B2AFAB" d="m201.261505,126.246147c0,0 -31.264114,-4.34285 -31.264114,-14.968735c0,-10.628922 23.568619,-16.167503 34.149658,-15.718231c10.581039,0.449303 40.718811,4.638 33.664413,16.915016c-7.04921,12.275986 -36.549957,13.77195 -36.549957,13.77195z" id="svg_36"/>
       <path stroke="null" fill="#4C3C29" d="m201.471085,127.283745c0,0 -29.206558,-4.05471 -29.206558,-13.983513c0,-9.928764 22.017944,-15.103706 31.903183,-14.68364c9.885178,0.420082 38.043869,4.335815 31.453033,15.802856s-34.149658,12.864296 -34.149658,12.864296z" id="svg_37"/>
       <path stroke="null" fill="#5B4F35" d="m199.852264,101.250908c0,0 -26.300369,1.39019 -23.634705,13.177589c2.665634,11.790436 41.404327,6.766609 51.178024,5.202126c9.773712,-1.561432 -7.966995,-6.692062 -23.945435,-9.329361c-14.247101,-2.351219 -3.597885,-9.050354 -3.597885,-9.050354z" id="svg_38"/>
       <path stroke="null" fill="#D3CFC9" d="m166.266312,110.645798l6.396744,65.543427c0,0 31.453003,21.327316 61.306885,0l7.996964,-65.543427c-0.000031,0 -34.651443,32.77121 -75.700592,0z" id="svg_39"/>
       <path stroke="null" fill="#C1BCB4" d="m201.717804,127.030876c0,0 21.856888,0.675949 39.716354,-12.020111l-7.463196,61.177452c0,0 -13.055725,9.32132 -28.518982,9.467422c0,0 19.989304,-0.715271 21.588486,-8.778397s9.441284,-60.848 4.970993,-57.220428c-3.19426,2.607124 -30.293655,7.374062 -30.293655,7.374062z" id="svg_40"/>
       <circle stroke="null" fill="#E5E2DF" cx="203.45018" cy="149.268897" r="14.174901" id="svg_41"/>
      </g>
      <rect stroke="null" x="109.383244" y="248.063088" fill="none" width="193.058409" height="68.502141" id="svg_42"/>
      <text stroke="null" transform="matrix(0.6899252712659937,0,0,1.4465580460031116,269.21442072749494,365.59658053127384) " fill="#CEB995" font-family="Monospace" font-size="18" id="svg_43" y="-102.771296" x="-340.321016"><%= @user.detail1 %></text>
     </g>
    </g>
   </g>
   <g stroke="null" id="design">
    <rect stroke="null" x="405.098139" y="253.932109" fill="#D1652F" width="17.550765" height="135.996897" id="svg_45"/>
    <polyline stroke="null" fill="#D1652F" points="420.28573036754824,332.92614002749906 432.99449939981423,323.5342897332448 414.88321401984285,312.4933934736473 " id="svg_46"/>
    <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,448.23937456409897,631.9007727034041) " fill="#D1652F" font-family="Monospace" font-size="28.2251" id="svg_47" y="-265.019788" x="-124.962201"><%= @user.year2 %></text>
    <g stroke="null" id="design-badge">
     <circle stroke="null" fill="#D1652F" cx="630.114427" cy="318.358924" r="155.503496" id="svg_48"/>
     <g stroke="null" id="design-title">
      <text stroke="null" transform="matrix(0.7657864922899525,0,0,0.8157659435583529,799.6661305537713,534.814699918162) " fill="#FFFFFF" font-family="Monospace" font-size="28.2251" id="svg_49" y="-356.421782" x="-362.995232"><%= @user.headline2 %></text>
     </g>
     <g stroke="null" id="design-details">
      <rect stroke="null" x="522.201596" y="365.466304" fill="none" width="206.507262" height="71.484643" id="svg_50"/>
      <text stroke="null" transform="matrix(0.7873759441592064,0,0,1.1758451806540644,774.3404069444124,486.6182702624138) " fill="#E8AD67" font-family="Monospace" font-size="18" id="svg_51" y="-104.811119" x="-357.04531"><%= @user.detail2 %></text>
      <g stroke="null" id="svg_53">
       <ellipse stroke="null" fill="#B24E2B" cx="617.392609" cy="340.191227" rx="31.288611" ry="3.267269" id="svg_54"/>
       <path stroke="null" fill="#E8AD67" d="m667.286743,282.089996c-1.13855,-1.417114 -2.281494,-2.834137 -3.427734,-4.251282c-0.132507,-0.094543 -0.13916,-0.076721 -0.023254,0.051544c-7.721313,-7.293518 -18.680664,-18.068787 -29.333984,-21.65979c-7.529114,0.051514 -38.646606,31.412201 -37.703552,32.57489c3.463074,4.280701 8.782654,8.08194 12.850891,11.83493c7.538086,6.950775 15.944153,19.0065 25.282227,23.58783c2.132507,1.043884 14.401428,-11.913818 15.907776,-13.348694c7.977478,-7.587921 25.599121,-17.913239 16.447632,-28.789429c-1.162842,-1.403412 1.157349,1.377167 0,0z" id="svg_55"/>
       <path stroke="null" fill="#E8AD67" d="m667.171875,275.970734c-0.069519,-0.098816 -0.179993,-0.262848 -0.357727,-0.517212c0.143494,0.203888 0.276001,0.397308 0.357727,0.517212z" id="svg_56"/>
       <path stroke="null" fill="#FFCBA6" d="m586.744507,333.732422c0.229675,0.305878 0.449402,0.617065 0.666992,0.930298c0.271667,0.15036 0.541077,0.301727 0.810608,0.46048c0.1203,0.005249 0.237366,0.021027 0.357788,0.022095l47.056091,-9.792358l-38.687561,-36.829315l-10.191833,44.358307c-0.003296,0.282776 -0.014282,0.566589 -0.012085,0.850494z" id="svg_57"/>
       <path stroke="null" fill="#FF9740" d="m663.857849,277.838715c-6.029602,-5.598877 -10.346436,-10.377869 -17.525513,-15.174713c-12.108826,12.418396 -25.860901,24.285889 -38.447876,36.266998c2.384216,2.264343 14.324036,16.366791 17.46582,15.248291c4.143433,-1.478058 7.086365,-6.66391 10.273438,-9.532776c3.019165,-2.720612 29.554932,-25.136322 28.234131,-26.8078c-0.034241,-0.019897 0.077332,0.095703 0,0z" id="svg_58"/>
       <path stroke="null" fill="#FA871C" d="m667.286743,282.089996c-1.276611,-1.537994 -2.419495,-3.411316 -3.526062,-4.311127c0.475952,0.627502 -23.604797,22.460876 -26.039856,24.774658c-2.09375,1.993134 -13.924316,11.504822 -12.064575,13.294037c3.132874,3.000305 6.223877,6.648041 9.456299,9.5495c1.237915,1.110138 10.445679,-9.015472 12.107605,-10.598633c5.792236,-5.512756 10.546204,-9.512726 16.33728,-15.025452c7.359192,-7.004517 10.228149,-9.954193 3.729309,-17.682983c-1.162842,-1.403412 1.647705,1.979462 0,0z" id="svg_59"/>
       <path stroke="null" fill="#FFCBA6" d="m607.88446,298.930908c0,0 0.004456,-10.01944 -10.928284,-10.408386l0.345581,4.799957l10.582703,5.608429z" id="svg_60"/>
       <path stroke="null" fill="#FFCBA6" d="m635.242737,324.974487c0,0 0.003357,-10.01944 -10.933777,-10.404144l0.345581,4.796814l10.588196,5.60733z" id="svg_61"/>
       <path stroke="null" fill="#FFCBA6" d="m624.706482,314.94455c0,0 0.005493,-15.623657 -17.050659,-16.229065l0.539978,7.483734l16.510681,8.745331z" id="svg_62"/>
       <path stroke="null" fill="#3A2F19" d="m586.770935,332.383667c-0.017639,0.454102 -0.023132,0.898804 -0.023132,1.348755c0.229736,0.305786 0.449463,0.617065 0.667053,0.930267c0.269409,0.15033 0.538879,0.301758 0.808289,0.46051c0.240784,0.00943 0.470459,0.038879 0.713379,0.053558l8.359741,-1.740845l-0.049683,-0.047272c0,-0.027344 -0.006714,-8.042053 -8.768311,-8.364716l0,0.017822l-0.0177,-0.017822l-1.689636,7.359741z" id="svg_63"/>
      </g>
     </g>
    </g>
   </g>
   <g stroke="null" id="complain">
    <rect stroke="null" x="405.098139" y="580.324662" fill="#6DBACC" width="17.550765" height="285.089792" id="svg_64"/>
    <polyline stroke="null" fill="#6DBACC" points="420.28573036754824,731.8503451937868 432.99449939981423,722.4585277013539 414.88321401984285,711.4186154963973 " id="svg_65"/>
    <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,442.0449871046371,1025.7880824022604) " fill="#6DBACC" font-family="Monospace" font-size="28.2251" id="svg_66" y="-294.565242" x="-134.05311"><%= @user.year4 %></text>
    <g stroke="null" id="complain-badge">
     <circle stroke="null" fill="#6DBACC" cx="624.57702" cy="719.572671" r="163.516817" id="svg_67"/>
     <g stroke="null" id="complain-title">
      <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,723.7040946057425,933.6615679860661) " fill="#FFFFFF" font-family="Monospace" font-size="24.3935" id="svg_68" y="-294.565242" x="-168.144018"><%= @user.headline4 %></text>
      <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,728.2995041823352,957.9264366017088) " fill="#FFFFFF" font-family="&#x27;LeagueGothic'" font-size="24.3935" id="svg_69" y="-294.565242" x="-134.05311"/>
     </g>
     <g stroke="null" id="complain-details">
      <rect stroke="null" x="526.246937" y="772.634348" fill="none" width="193.058409" height="68.502141" id="svg_70"/>
      <text stroke="null" transform="matrix(1.5243845318528568,0,0,1.3671645236660783,697.5084401086631,1085.1838533387934) " fill="#B9E4EA" font-family="Monospace" font-size="18" id="svg_71" y="-212.705976" x="-124.433704"><%= @user.detail4 %></text>
      <g stroke="null" id="svg_73">
       <path stroke="null" fill="#004F84" d="m650.747986,726.91925c-4.296875,-0.008057 -13.333435,-0.398926 -16.586548,-0.529907c-3.285095,-0.132935 -4.789307,5.516418 -11.891174,5.518494c-18.454102,0.006042 -17.407227,-12.082581 -12.342285,-12.082581c4.040833,0 29.533752,0 41.83374,-0.200562c4.653015,-1.783997 3.334656,-15.107666 -5.232178,-25.073669c-9.105774,-10.583679 -18.826843,-10.88385 -18.826843,-10.88385c7.571655,-5.092285 18.623413,-5.989868 21.69281,-4.594604c3.074463,1.400146 3.764099,0.301086 3.764099,0.301086c-8.517273,-10.78302 -31.802002,3.090637 -31.802002,3.090637c-31.208313,2.596069 -34.07428,29.655518 -34.07428,29.655518c2.766785,-3.295166 8.08374,-6.090759 9.721069,-7.588684s1.63739,0 1.63739,0c-34.075317,44.031738 1.129456,44.933411 -2.860779,42.734314c-3.990173,-2.197205 -2.764771,-13.678284 -2.764771,-13.678284c1.127441,1.297424 10.13092,15.3797 29.672119,14.676514c19.548462,-0.69812 27.681702,-16.543213 28.707886,-19.23999c0.341736,-0.916809 0.029968,-1.599731 -0.648254,-2.104431zm-39.033997,-26.993958c6.587708,-3.661804 18.664734,-2.995911 22.324585,2.832825s-0.365479,6.652771 -2.012207,7.323669c-1.647644,0.665833 -20.312378,0 -20.312378,0c-5.855774,-0.005005 -6.58667,-6.495667 0,-10.156494z" id="svg_74"/>
       <!--      <path opacity="0.56" fill="#0097C0" enable-background="new    " d="M736.968,978.469c-1.242,0.969-5.843-2.894-12.034-5.953
            c-6.126-3.184-11.961-4.606-11.914-6.185c-0.05-1.521,7.019-2.601,14.447,1.188 -->
       <!-- C734.916,971.273,738.221,977.61,736.968,978.469z"/> -->
       <path stroke="null" opacity="0.56" fill="#0097C0" d="m604.462402,731.266052c5.914673,4.207886 17.720093,7.877808 10.990906,8.753235c-6.729126,0.876404 -17.720032,-6.126953 -16.369629,-10.066833c1.342041,-3.939941 3.223083,-0.219604 5.378723,1.313599z" id="svg_75"/>
       <ellipse stroke="null" fill="#448FAA" cx="619.962858" cy="753.954419" rx="20.304169" ry="2.038947" id="svg_76"/>
      </g>
     </g>
    </g>
   </g>
   <g stroke="null" id="build">
    <rect stroke="null" x="405.098139" y="389.929006" fill="#B1C482" width="17.550765" height="190.395656" id="svg_77"/>
    <polyline stroke="null" fill="#B1C482" points="409.009895307383,480.72757168716635 396.3000407190775,490.1184707286011 414.41135899468645,501.1593669881986 " id="svg_78"/>
    <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,598.3665490316175,797.190494927189) " fill="#25632B" font-family="Monospace" font-size="28.2251" id="svg_79" y="-280.928878" x="-143.144019"><%= @user.year3 %></text>
    <g stroke="null" id="build-badge">
     <circle stroke="null" fill="#B1C482" cx="230.060232" cy="552.850546" r="158.937748" id="svg_80"/>
     <g stroke="null" id="build-title">
      <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,317.9711998120334,707.3267674036942) " fill="#25632B" font-family="Monospace" font-size="28.2251" id="svg_81" y="-240.019787" x="-184.053112"><%= @user.headline3 %></text>
     </g>
     <g stroke="null" id="build-details">
      <rect stroke="null" x="106.06202" y="538.417471" fill="none" width="193.058409" height="68.502141" id="svg_82"/>
      <text stroke="null" transform="matrix(1.199736911885379,0,0,1.540210460138684,257.80020184541775,859.7531525475525) " fill="#25632B" font-family="Monospace" font-size="18" id="svg_83" y="-155.28384" x="-141.811145"><%= @user.detail3 %></text>
      <g stroke="null" id="svg_85">
       <g stroke="null" id="svg_86">
        <path stroke="null" fill="#C5EAEA" d="m211.561172,544.687195c-7.650085,-4.396179 -15.300156,-8.793396 -22.949188,-13.192688c-4.37532,-2.509338 -8.750595,-5.023804 -13.124863,-7.538208c-3.356339,-1.928101 -2.455063,-2.98584 -2.455063,-7.04364s-0.900223,-5.113464 2.455063,-7.046631c4.375275,-2.520508 8.750595,-5.040985 13.124863,-7.561493c7.65004,-4.407257 15.300125,-8.814575 22.949188,-13.221893c0,5.306885 2.412689,13.256226 -2.668762,16.08197c-7.044037,3.917633 -14.088089,7.833374 -21.132156,11.750122c6.694061,3.695007 13.388123,7.391113 20.08223,11.086121c2.504578,1.382202 3.718689,1.273438 3.718689,4.031616c0,4.217896 0,8.436829 0,12.654724l0,0z" id="svg_87"/>
        <path stroke="null" fill="#C5EAEA" d="m246.041153,481.718658c-3.814713,14.2323 -7.635605,28.466644 -11.455505,42.697968c-2.111206,7.870728 -4.223541,15.741394 -6.334778,23.611084c-1.462906,5.450989 -7.829727,2.976807 -13.054672,2.976807c3.843628,-14.231323 7.688278,-28.462646 11.531891,-42.69397c2.125687,-7.870667 4.251434,-15.741333 6.377121,-23.610992c1.467041,-5.431793 7.720276,-2.980896 12.935944,-2.980896l0,0z" id="svg_88"/>
        <path stroke="null" fill="#C5EAEA" d="m249.334503,489.082642c7.650085,4.386139 15.300171,8.770294 22.949188,13.156433c4.375305,2.507446 8.753693,5.015778 13.128967,7.528198c3.182892,1.825409 2.455078,2.439819 2.455078,6.298218c0,3.198425 1.126343,5.776245 -1.741669,7.429382c-4.131653,2.376465 -8.264374,4.761902 -12.397034,7.142334c-8.132202,4.680298 -16.264404,9.370728 -24.396606,14.055054c0,-5.307922 -2.411682,-13.257202 2.666687,-16.080872c7.036835,-3.916687 14.075714,-7.828369 21.114594,-11.738098c-6.688904,-3.699097 -13.37677,-7.398193 -20.067719,-11.09726c-2.502533,-1.384125 -3.715591,-1.279327 -3.715591,-4.036652c0.004105,-4.21991 0.004105,-8.437805 0.004105,-12.656738l0,0z" id="svg_89"/>
       </g>
       <g stroke="null" id="svg_90">
        <path stroke="null" fill="#D8EFEE" d="m184.783829,512.788391c3.601013,-2.471069 7.446716,-4.428436 11.411102,-6.62149c3.689804,-2.040009 6.783859,-4.520172 10.501556,-6.023224c0.291138,-1.021423 0.638016,-1.995575 1.061279,-2.919342c0.002075,-1.034576 -0.107361,-2.162811 -0.368561,-3.421112c-9.6147,6.569153 -24.36145,12.890533 -29.969467,22.183594c1.183121,-0.42511 2.343552,-0.902649 3.467819,-1.469788c1.275009,-0.650757 2.578918,-1.207825 3.896271,-1.728638z" id="svg_91"/>
        <path stroke="null" fill="#D8EFEE" d="m219.895706,548.96759c1.61261,-0.979187 2.884521,-2.049072 3.86116,-4.306641c1.036499,-2.399475 1.931595,-4.901855 2.761688,-7.397095c1.978043,-5.944641 3.089951,-12.164246 4.985428,-18.132996c1.961563,-6.177307 3.327423,-12.135925 4.499176,-18.544861c0.925049,-5.05307 2.463318,-9.885559 3.83638,-14.784454l-3.242752,0c-0.437744,0.225677 -0.839294,0.5047 -1.183121,0.853241l-12.904968,47.783325c0.911606,1.668152 0.269455,4.118103 -1.324539,4.899841l-2.529404,9.366699c0.30661,0.037292 0.616333,0.08667 0.928116,0.167236c0.106354,0.027222 0.207504,0.065552 0.312836,0.095703z" id="svg_92"/>
        <path stroke="null" fill="#D8EFEE" d="m256.305298,502.634979c3.759949,1.327759 7.437408,2.42984 10.546967,4.974487c3.200439,2.623199 7.833862,3.337433 11.308868,5.628204c0.928131,0.611511 1.723053,1.367065 2.496368,2.138672c9.184204,-3.718201 -23.610931,-18.714172 -29.712433,-22.212738c-0.207535,1.700439 -0.143478,3.160126 0.137314,4.448578c1.493851,1.990601 2.816391,4.172577 5.222916,5.022797z" id="svg_93"/>
       </g>
       <ellipse stroke="null" fill="#96A362" cx="228.214777" cy="557.69762" rx="29.25093" ry="3.130951" id="svg_94"/>
       <path stroke="null" fill="#B0E2DE" d="m272.12262,525.685974c-3.601013,2.471069 -7.446716,4.428467 -11.415253,6.621521c-3.685638,2.03595 -6.779709,4.516174 -10.501526,6.023132c-0.286972,1.025574 -0.638046,1.999634 -1.057159,2.923401c-0.002075,1.030579 0.107361,2.161865 0.365463,3.418091c9.6147,-6.569153 24.365616,-12.890442 29.969467,-22.18158c-1.183105,0.42511 -2.344574,0.89856 -3.467804,1.469727c-1.271912,0.648743 -2.575836,1.204834 -3.893188,1.725708z" id="svg_95"/>
       <path stroke="null" fill="#B0E2DE" d="m191.027771,531.931763c0.815613,0.562073 1.595047,1.149414 2.364212,1.74176c1.663177,0.943909 3.285065,1.960327 4.880142,3.04126c3.971619,2.681641 8.75885,4.544312 13.067062,6.762573c0.153824,-1.531189 0.086716,-2.871033 -0.168289,-4.051636c-1.496994,-1.986572 -2.820511,-4.168579 -5.22702,-5.015747c-3.76001,-1.331848 -7.437408,-2.429932 -10.546997,-4.976501c-3.196304,-2.619263 -7.833832,-3.337463 -11.308899,-5.628296c-0.928116,-0.608459 -1.723038,-1.364014 -2.496323,-2.138672c-1.354507,0.54895 -1.789154,1.344849 -1.538269,2.311951c3.53389,2.825684 7.219574,5.367371 10.97438,7.953308z" id="svg_96"/>
      </g>
     </g>
    </g>
   </g>
   <g stroke="null" id="beer">
    <rect stroke="null" x="405.098139" y="865.414454" fill="#EAB83D" width="17.550765" height="110.812286" id="svg_97"/>
    <polyline stroke="null" fill="#EAB83D" points="409.009895307383,912.8955371548946 396.3000407190775,922.2862393854011 414.41135899468645,933.3272668522841 " id="svg_98"/>
    <text stroke="null" transform="matrix(1.0323979099103155,0,0,1.0073844237822411,598.3665490316175,1225.633911038163) " fill="#EAB83D" font-family="Monospace" font-size="28.2251" id="svg_99" y="-294.565242" x="-134.05311"><%= @user.year5 %></text>
    <g stroke="null" id="beer-badge">
     <circle stroke="null" fill="#EAB83D" cx="195.119545" cy="915.55471" r="180.688046" id="svg_100"/>
     <g stroke="null" id="beer-title">
      <text stroke="null" transform="matrix(1.1264058920555158,0,0,1.0687888687553744,320.8053727984008,1195.9443438009146) " fill="#FFFFFF" font-family="Monospace" font-size="28.2251" id="svg_101" y="-346.550655" x="-196.501981"><%= @user.headline5 %></text>
     </g>
     <g stroke="null" id="beer-details">
      <rect stroke="null" x="83.297732" y="970.335903" fill="none" width="210.637902" height="72.677644" id="svg_102"/>
      <text stroke="null" transform="matrix(1.1018052140567567,0,0,1.0685575298575414,106.60505854449866,1237.8497302415788) " fill="#EBF4CE" font-family="Monospace" font-size="18" id="svg_103" y="-241.978079" x="-53.096558"><%= @user.detail5 %></text>
      <g stroke="null" id="svg_105">
       <path stroke="null" fill="#D3A337" d="m225.157303,939.950134c-0.033798,5.607971 -15.921799,9.759094 -36.354752,10.078857c-20.439774,0.849548 -36.248886,-3.263184 -36.586823,-8.818726c-0.238754,-2.156799 16.055832,-4.561462 36.310852,-5.463623c20.245987,-0.285278 36.701645,1.995422 36.630722,4.203491z" id="svg_106"/>
       <path stroke="null" fill="#F6EEDB" d="m223.367416,924.447327c-6.046585,0.989868 -12.034515,1.65448 -17.691315,1.791382c-17.369186,0.520386 -34.505219,-3.533447 -51.756119,-4.74115c0.167801,7.723145 0.405502,15.712341 -0.022537,17.204346c-0.791855,2.669678 18.471924,6.612549 25.719223,6.536682c7.204483,1.597778 36.434723,-1.872498 39.588654,-4.874878c3.344299,-2.110779 4.067474,-4.222717 3.812897,-6.351746c-0.19371,-1.620239 0.155472,-7.000488 0.349197,-9.564636z" id="svg_107"/>
       <path stroke="null" fill="#E2D6BC" d="m167.694794,935.727417c7.487259,1.559448 15.073547,2.545898 22.685852,2.342834c8.360199,-0.2052 16.567139,-1.531555 24.668274,-4.115967c2.594086,-0.816467 5.297516,-1.466309 7.987366,-2.183472c-0.078888,-2.106567 0.216248,-6.676758 0.390839,-8.981018c-6.044312,1.097595 -12.036789,1.908936 -17.704834,2.104431c-17.419846,0.754456 -34.593048,-3.871277 -51.859741,-5.062927c0.092377,4.222839 0.203888,8.517212 0.216248,11.799438c4.484238,1.54126 8.998871,3.129456 13.615997,4.09668z" id="svg_108"/>
       <path stroke="null" fill="#E2D6BC" d="m160.229004,924.569275c-0.013519,-0.914795 0.132935,-1.755005 0.399887,-2.51593c-2.232574,-0.188171 -4.470749,-0.39447 -6.707764,-0.555786c0.167847,7.724182 0.406631,15.708984 -0.023651,17.204346c-0.336807,0.885986 2.791229,2.710449 6.985947,1.924866c-0.292862,-5.220093 -0.564316,-10.593811 -0.654419,-16.057495z" id="svg_109"/>
       <path stroke="null" fill="#E2D6BC" d="m223.019348,934.007813c-0.195999,-1.625671 0.153229,-7.00592 0.348068,-9.560303c-5.327881,0.666809 -10.607361,1.077209 -15.635635,1.043152c0.063065,0.285278 0.110367,0.581299 0.10817,0.899963c-0.01355,4.755005 -0.152084,9.441589 -0.262482,14.041565c5.58696,1.291077 10.37532,0.349609 11.577194,-0.268188c3.414108,-1.824402 4.112488,-4.055054 3.864685,-6.156189z" id="svg_110"/>
       <path stroke="null" fill="#E2D6BC" d="m242.956757,892.151917c-0.686005,-4.325378 -10.547684,-8.752258 -26.827606,-9.852173c0.228622,2.154663 0.415634,4.309326 0.550812,6.46936c6.286453,0.494812 16.406097,2.509583 16.406097,5.808899c0,4.041138 1.536423,15.274109 0,18.236694c-1.183838,2.292603 -12.427643,2.578064 -14.991333,2.596069c0.34581,3.450134 0.729889,6.900208 1.13092,10.350281c0.064224,-0.835815 0.109253,-1.375549 0.109253,-1.375549s2.897125,-0.276794 11.339554,-2.166504c8.446869,-1.887451 11.517487,-9.971741 12.286819,-16.176086c0.761429,-6.201172 0.761429,-9.035583 -0.004517,-13.890991z" id="svg_111"/>
       <g stroke="null" id="svg_112">
        <path stroke="null" fill="#F6EEDB" d="m218.207336,916.434814c3.952576,-0.152893 10.348282,-0.648987 11.99736,-2.154724c-3.841049,0.957581 -10.253662,1.115723 -12.112228,1.124329c0.036011,0.345276 0.079971,0.688232 0.114868,1.030396z" id="svg_113"/>
        <path stroke="null" fill="#F6EEDB" d="m242.956757,892.151917c-0.686005,-4.325378 -10.547684,-8.752258 -26.827606,-9.852173c0.047333,0.436218 0.068695,0.876465 0.11264,1.315735c14.671417,1.381958 23.499069,5.548157 24.143387,9.63092c0.76709,4.855408 0.76709,7.68988 0,13.888855c-0.638702,5.173889 -2.898239,11.645569 -8.521255,14.749268c7.54129,-2.352295 10.365189,-9.948303 11.097351,-15.846985c0.761429,-6.195801 0.761429,-9.030212 -0.004517,-13.88562z" id="svg_114"/>
        <path stroke="null" fill="#F6EEDB" d="m219.153549,925.11969c0.022491,0.208374 0.045029,0.423218 0.06871,0.636963c0.023621,-0.252197 0.034912,-0.463867 0.054047,-0.65509c-0.046143,0.006409 -0.081085,0.011719 -0.122757,0.018127z" id="svg_115"/>
       </g>
       <path stroke="null" fill="#F6EEDB" d="m229.863373,917.9599c-2.4702,0.977966 -6.318024,1.565796 -11.520874,1.75061c0.128433,1.278259 0.269226,2.559814 0.416763,3.84137c1.732407,-0.306885 4.347977,-0.820923 8.084229,-1.653503c1.15004,-0.256653 2.155945,-0.679749 3.062683,-1.20459c-0.028152,-0.912659 -0.039413,-1.824402 -0.042801,-2.733887z" id="svg_116"/>
       <path stroke="null" fill="#F6EEDB" d="m236.957489,893.646057c-0.366058,-2.309692 -7.142532,-6.063293 -20.559189,-7.46759c0.048462,0.558838 0.09465,1.114746 0.138565,1.666138c5.546432,0.659363 16.546936,2.636719 16.546936,7.927246c0,1.106201 0.125,2.833374 0.270294,4.835266c0.110397,1.515442 0.205048,2.926208 0.279388,4.252563c0.523788,3.572998 0.53952,7.133057 0.558701,10.691162c1.820282,-3.049316 2.50621,-6.545288 2.75296,-8.546082c0.749039,-6.049255 0.751282,-8.671082 0.012344,-13.358704z" id="svg_117"/>
       <path stroke="null" fill="#E2D6BC" d="m192.895889,925.596375c-0.002243,-0.187012 0.033783,-0.352661 0.060822,-0.524658c-3.971695,-0.190247 -7.947922,-0.587952 -11.914017,-0.977051c0.007904,0.150757 0.025925,0.295044 0.025925,0.450134c-0.030426,5.529785 0.130661,11.009521 0.317642,16.497742c2.609879,0.686218 6.963409,1.103027 11.460022,-0.183838c0.132935,-5.06604 0.13858,-10.122559 0.049606,-15.262329z" id="svg_118"/>
       <path stroke="null" fill="#D88430" d="m222.461792,871.673828l-3.250809,0c0.096878,1.737854 0.159973,3.470337 0.171188,5.200745c0.030426,6.841248 -1.191681,13.642029 -0.868439,20.284485c0.575638,11.819824 0.583466,22.274719 0.613892,33.579163c0.769333,-0.013794 1.538696,-0.025574 2.309143,-0.030823c0.524887,-0.059937 1.054337,-0.111206 1.585968,-0.156067c0.08223,-0.176514 0.144211,-0.363403 0.201645,-0.546082c-0.166748,-19.767395 -0.177963,-50.764404 -0.762589,-58.331421z" id="svg_119"/>
       <g stroke="null" id="svg_120">
        <path stroke="null" fill="#EA9E42" d="m153.245255,871.673828c0.002274,-0.029907 0.884277,23.423645 0.462982,31.597717c-0.33902,6.632935 0.260162,18.305176 0.102493,24.60675c1.918289,5.28302 17.921127,7.824524 18.608215,7.598022c11.439819,1.591248 23.016983,0.267273 34.416199,-1.285767c4.873993,-0.667969 9.698364,-1.766724 14.449539,-2.987305c0.574493,-0.201965 1.153458,-0.403992 1.724533,-0.600647c0.089005,-0.203003 0.154312,-0.403992 0.21402,-0.601685c-0.257935,-19.70105 -0.396469,-50.717285 -1.081314,-58.329224c-22.96521,0.00116 -45.931488,0.002136 -68.896667,0.002136l0,0z" id="svg_121"/>
        <path stroke="null" fill="#D88430" d="m205.281815,932.8255c14.76268,-2.933716 11.836273,-16.326599 12.001877,-20.188293c0.44603,-13.365234 0.576691,-26.98999 0.878616,-40.963379c1.442902,0 2.886948,0 4.328796,0c-0.002274,-0.027832 -0.840317,23.49408 -0.405563,31.689575c0.35257,6.652161 -0.298462,20.552734 -0.128403,26.841553c-2.264069,0.693665 -4.581116,1.432251 -7.018646,2.218872c0.170105,-1.660889 -9.699432,2.258362 -9.656677,0.401672z" id="svg_122"/>
       </g>
       <path stroke="null" fill="#EAB96C" d="m175.811707,877.403564c-4.015671,-0.054504 -8.038086,-0.201904 -12.060471,-0.407166c-0.913513,15.1875 0.532776,39.895691 1.411392,52.170715c3.976227,1.344482 13.066315,3.275879 11.900482,-0.000977c-0.863968,-2.415527 -0.66008,-47.007507 -1.251404,-51.762573z" id="svg_123"/>
       <path stroke="null" fill="#EAB96C" d="m199.885223,872.489197c-2.594116,0.352722 -5.19722,0.652039 -7.800385,0.862549c-1.154526,17.449097 0.849365,44.314209 0.978882,56.611633c2.591843,0.502319 5.311005,0.510986 7.856689,-0.037415c0.688217,-7.020752 -0.474213,-53.403015 -1.035187,-57.436768z" id="svg_124"/>
       <path stroke="null" fill="#F6EEDB" d="m197.386871,874.693176c7.737305,-0.613525 23.439316,-0.991821 23.820084,2.267883c0.493378,3.929993 5.251297,5.868713 5.474365,2.539551c0.117111,-3.822083 4.495483,-11.78772 -13.266846,-17.810364c-18.164413,-4.480408 -15.0634,-2.845093 -24.926208,-3.441467c-9.865067,0.218933 -5.218658,-9.562439 -24.480209,-1.639587c-18.858276,9.728149 -19.396713,20.046143 -10.739151,21.183472c8.906494,0.337646 14.702972,3.579346 22.264557,3.532227c7.586334,-0.161255 15.263947,-6.204163 21.853409,-6.631714z" id="svg_125"/>
       <path stroke="null" fill="#E2D6BC" d="m222.430222,876.918457c-0.47084,-1.170349 -0.862793,-4.336182 -2.305725,-5.687073c-4.040436,-3.896851 -10.611877,-5.7854 -16.276596,-6.220398c-8.339905,-1.054932 -16.377884,0.556885 -24.63446,3.151855c-7.247299,2.372742 -14.510391,3.764282 -21.425385,1.536865c-3.10437,-0.938232 -5.412354,-2.700806 -6.782074,-4.774048c-5.099274,7.147949 -3.65184,11.333374 2.265167,12.134949c8.917816,-0.072693 14.730042,3.614624 22.305084,3.539673c7.601028,-0.252136 15.283112,-7.391663 21.850037,-7.537109c7.737289,-0.501282 23.273804,0.815491 23.62973,3.629578c0.19603,1.36377 1.128677,2.617615 2.155945,3.100647c-0.218521,-0.916992 -0.384048,-1.886353 -0.781723,-2.874939z" id="svg_126"/>
      </g>
     </g>
    </g>
   </g>
  </g>
 </g>
</svg>